<!DOCTYPE html>
<html ng-app="wrl.common">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <title>Web Realty Life</title>
    <link href="content/bootstrap.css" rel="stylesheet"/>
    <link href="content/site.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Домашняя</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="!vm.authentication.isAuth"><span ng-bind="'Добро пожаловать' + vm.authentication.userName"></span></li>
                    <li ng-hide="!vm.authentication.isAuth"><a ui-sref="apartments">Квартиры</a></li>
                    <li ng-hide="!vm.authentication.isAuth"><a ui-sref="logout" ng-click="logOut()">Выйти</a></li>
                    <li ng-hide="vm.authentication.isAuth"> <a ui-sref="login">Войти</a></li>
                    <li ng-hide="vm.authentication.isAuth"> <a ui-sref="signup">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div ui-view="">
        </div>
    </div>
    <div id="footer" class="panel-footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div>
                    <p class="text-muted">
                        Created by Nick Colipso.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Vendor scripts-->
    <script src="scripts/jquery-1.9.1.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-ui-router.js"></script>
    <script src="scripts/angular-resource.js"></script>
    <script src="scripts/angular-local-storage.js"></script>
    <!--Modules-->
    <script src="app/security/security.js"></script>
    <script src="app/app.js"></script>
    <!--Services-->
    <script src="app/security/services/authService.js"></script>
    <!--Controllers-->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/security/controllers/signupController.js"></script>
    <script src="app/security/controllers/loginController.js"></script>
</body>
</html>
