html, body {
    height:100%;
}

.full-container-width {
    width: 100%
}

.selected-menuitem {
    background: darkorange;
}

.myGrid {
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 15px;
    right: 15px;
}

#content {
    position: relative;
    height: calc(100% - 135px);
}

#side-menu-trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    height: calc(100% - 5px);
    border-radius: 0 5px 5px 0;
    background-color: #3498db;
}

#side-menu-trigger div {
    position: relative;
    top: calc(50%);
    background-color: #3498db;
    width: 15px;
    height: 50px;
    border-radius: 0 5px 5px 0;
}

#side-menu-trigger div i {
    top: 16px;
}
