html, body {
    height:100%;
}

.full-container-width {
    width: 100%
}

.selected-menuitem {
    background: darkorange;
}

.myGrid {
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 15px;
    right: 15px;
}

#content {
    position: relative;
    height: calc(100% - 135px);
}